* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    line-height: 1.2rem;
}

.header_container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.header_container p {
    width: 60%;
    font-size: 1.2rem;
    text-align: center;
}

a {
    text-decoration: none;
}




.main_container {
    /* border: 2px solid black; */
    width: 70%;
    display: grid;
    padding: 0.7rem;
    /* justify-content: center;
    align-items: center; */
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 15%;
}

@media (max-width:1100px) {
    .main_container {
        grid-template-columns: repeat(3, 1fr);

    }
}
@media (max-width:880px) {
    .main_container {
        grid-template-columns: repeat(2, 1fr);

    }
}
@media (max-width:650px) {
    .main_container {
        grid-template-columns: repeat(1, 1fr);

    }
}

.card_container {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    overflow: hidden;
    gap: 1.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.card_container:hover .card_image {
    transform: scale(1.2);
    transition: all 2s ease-out 1s;

}

.image_container {
    position: relative;
    overflow: hidden;
    height: 9rem;

}

.card_image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.card_title_container {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0 1.2rem;
}

.card_title_anchor {
    margin: auto;
}

.card_title_anchor:hover .card_title {
    color: red;
}

.card_footer {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

.card_author {
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}

.author_avatar {
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(55, 49, 49);
    border-radius: 90%;
    background-color: rgb(187, 174, 174);
}

.tag_container {
    display: flex;
    align-items: center;

}

.tag_container span {
    border: 1px solid black;
}